## LOCAL DATABASE_URL
DATABASE_URL="postgresql://NAME:PASSWORD@localhost:5432/DB_NAME"

POSTGRES_USER=POSTGRES_USER_DEPLOY
POSTGRES_PASSWORD=POSTGRES_PASSWORD_DEPLOY
POSTGRES_DB=POSTGRES_DB_DEPLOY

ENVIRONMENT=local
JWT_SECRET=YOUR-SUPER-SECRET-HERE


## SUPABASE##
NEXT_PUBLIC_SUPABASE_URL=supabase-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=supabase-publishable-key
SUPABASE_SECRET_KEY=supabase-secret-key
SUPABASE_SERVICE_ROLE_KEY=supabase-service-key
SUPABASE_SERVICE_ANON_KEY=supabase-service-anon-key
# Direct connection to the database. Used for migrations
DATABASE_URL=your-database-for-supabase

# Connect to Supabase via connection pooling --- VERCEL ---
DATABASE_URL=your-database-for-supabase-for-pooling-used-in-Vercel
